@font-face {
  font-family: myFirstFont;
  src: url('/telegrotesk-normal.ttf') format("truetype");
}

body {
  margin: 0;
  font-family: myFirstFont !Important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
